
        <ul class="nav justify-content-end ">

          <li class="nav-item ">
            <button 
            routerLink=""
            class="btn btn-outline-primary">
              Inicio 
            </button>
          </li>

         <!-- <ng-container *ngIf="getLogin(); else logout"> -->

            <li class="nav-item ">
              <button 
              routerLink="/auth/login"
              class="btn btn-outline-primary">
                Login  
              </button>
            </li>
            
            <li class="nav-item">
              <button 
              routerLink="/auth/registro"
              class="btn btn-outline-primary">
                Registrarse 
              </button>
            </li>

          <!-- </ng-container> -->


            <!-- <ng-template #logout>
              <li class="nav-item ">
                <button 
               
                class="btn btn-outline-primary">
                  Salir  
                </button>
              </li>
             </ng-template> -->

            

        </ul>  
        
  