
  
 <router-outlet></router-outlet> 

<!-- <div class="row container  mt-5">
  <div class="col-3">

      <ul class="list-group flex-wrap">
          <li class="list-group-item">Buscar Productos</li>

          <li class="list-group-item">Por Nombre</li>

          <li class="list-group-item">Por categoria</li>
      </ul>
</div> -->

  <!-- <div class="col m-4">

      <h1 >Productos</h1>

      <div class="row row-cols-1 row-cols-md-2 g-4  ml-3">
        <div class="col">
          <div class="card">
            <img src="/assets/img/Dell.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Laptop Dell</h5>
              <p class="card-text">Full HD 4K</p>
            </div>
          </div>
        </div>
  </div>
</div>  -->



   
    