

   <!-- <div class="d-flex justify-content-md-start">
        <button class="btn btn-outline-primary">
        Agregar Productos
        </button>
    </div>
 -->

        <div class="d-flex justify-content-center">
                
            <form   
            autocomplete="off"
            [formGroup]="Formulario"
            (ngSubmit)="agregar()"> 


            <span class="login100-form-title p-b-49">
                Agregar Productos
            </span>

                <div class="wrap-input100 m-b-23">
                <span class="label-input100">Nombre</span>
                <input class="input100"
                        type="text" 
                        formControlName="name"
                        placeholder="Ingrese el nombre del producto">
              
                </div>
                
                <div class="wrap-input100">
                <span class="label-input100">Description</span>
                <input class="input100"
                        type="text"
                        formControlName="description"
                        placeholder="Ingrese una descripción">
                </div>

                <div class="wrap-input100">
                    <span class="label-input100"><i class="fas fa-prescription"></i>Precio</span>
                    <input class="input100"
                            type="text"
                            formControlName="precio"
                            placeholder="Ingrese el precio">
                
                    </div>
                
                <div class="text-right p-t-8 p-b-31"></div>
                
                <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn btn btn-success" 
                            type="submit">
                        Guardar
                    </button>
                </div>
                </div>
                
                <div class="flex-col-c p-t-20">
                
                <a routerLink="/dashboard" class="txt2 mb-5">
                   Volver
                </a>

                </div>
            </form>
        </div>
